<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo | To Do Manager</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <div class="container index">
        <div class="mainLogoDiv">
            <img src="/assets/in_quest_logo_SF.png" alt="logo inQuest">
        </div>
        <div class="containerText">
            <h1>Bem-vindo ao To Do Manager</h1>
            <p>Organize suas tarefas de forma eficiente e aumente sua produtividade!</p>
            <div>
                
                
                <p>O To Do Manager da inQuest oferece uma maneira simples e intuitiva de gerenciar suas
                    atividades diárias, seja no trabalho, nos estudos ou na vida pessoal. Crie
                    listas personalizadas, adicione tarefas com facilidade, acompanhe o
                    progresso e nunca mais esqueça uma tarefa importante!</p>
            </div>
        </div>     
            <button type="submit" class="btn-start"><a href="/app">Comece a Gerenciar suas Tarefas</a></button>
    </div>
    
</body>
</html>