<header>
    <nav>
        <ul class="navUl">
            <li><img src="/assets/in_quest_logo_line_SF.png" alt="logo inquest"></li>
            <li><a href="/app">Todas as Listas</a></li>
            <li><a href="/app/newList">Nova Lista</a></li>
        </ul>
    </nav>
</header>